<h1>Sligo Leitrim District League</h1>
	<strong style="font-size:20px"> Leagues: </strong><br>

<%= link_to 'Great Southern Hotel Sligo Super League', controller: 'articles' %> <br>
<%= link_to 'Sligo Pallets Premier League', controller: 'articles' %>